extends ../layout.pug

block title 
	| #{user.displayName}

block page_title 
	| #{user.displayName}

block content
	table 
		tr
			th gender 
			th introduce 
			th dateJoined 
		tr 
			td #{user.gender}
			td #{user.introduce}
			td #{user.dateJoined}